<% flash.each do |key, value| %>
    <p id="notice">
      <%= value %>
    </p>
<% end %>

<P>
  <strong>Title:</strong><%= @book.title %>
</P>
<P>
  <strong>Body:</strong><%= @book.body %>
</P>

<%= link_to "edit", edit_book_path %>
<%= link_to "back", books_path %>